.header-styles, .header-styles-fold {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1100;
    padding-left: 280px;
    background-color: #fafbfc;
    box-sizing: border-box;
    box-shadow: 0 0.46875rem 2.1875rem rgba(8,10,37,.03), 0 0.9375rem 1.40625rem rgba(8,10,37,.03), 0 0.25rem 0.53125rem rgba(8,10,37,.05), 0 0.125rem 0.1875rem rgba(8,10,37,.03);
}

.header-styles {
    padding: 0 20px 0 300px;
}

.header-styles-fold {
    padding: 0 20px 0 100px;
}
.header-container-desktop {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.header-search-menu-floating-container {
    /* margin-right: 10px; */
}

.mega-menu-container {
    position: relative;
    height: 100%;
    line-height: 64px;
}

.fold-container {
    height: 64px;
    cursor: pointer;
    font-size: 20px;
    margin-right: 20px;
    line-height: 64px;
}

.bell-icon-header {
    font-size: 18px;
}

.menu-header {
    margin-left: 20px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-header-hidden {
    visibility: hidden;
    transform: translateX(50px);
}


.header-container-mobile-tablet {
    display: none;
}

.logo-header-admin-dash {
    width: 200px;
    height: 100%;
}

.logo-header-admin-dash img {
    margin-top: -5px;
}

.outer-more-container {
    width: 20px;
    height: 32px;
    background-color: #545cd8;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.header-menu-floating-container::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.header-menu-floating-container {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.header-menu-floating-wrap {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto ;
    justify-content: center;
    align-items: center;
    grid-gap: 15px;
}

@media screen and (max-width: 1024px) {
    .down-outline-avatar {
        margin-right: 0;
    }
}

@media screen and (max-width: 768px) {
    .header-container-desktop {
        display: none;
    }

    .header-container-mobile-tablet {
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        height: 100%;
    }

    .header-styles, .header-styles-fold {
        padding: 0 20px;
    }

    .header-menu-floating {
        position: fixed;
        height: 70px;
        left: 0;
        right: 0;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        transition: all .3s;
        transform: translateY(60px);
        visibility: hidden;
        opacity: 0;
    }

    .header-menu-floating-show {
        transform: translateY(80px);
        opacity: 1;
        visibility: visible;
    }

    .header-menu-floating-container {
        height: 60px;
        background-color: white;
        border-radius: 30px;
        box-shadow: 0 0.46875rem 2.1875rem rgba(8,10,37,.03), 0 0.9375rem 1.40625rem rgba(8,10,37,.03), 0 0.25rem 0.53125rem rgba(8,10,37,.05), 0 0.125rem 0.1875rem rgba(8,10,37,.03);
        overflow-y: scroll;
        display: grid;
        grid-template-columns: auto auto ;
        align-items: center;
        grid-gap: 0;
        padding: 0 20px;
    }
}

@media screen and (max-width: 450px) {
    .header-styles, .header-styles-fold {
        padding: 0 20px;
    }
    .header-menu-floating-container {
        padding: 0 10px;
        width: 90%;
        overflow-y: scroll;
        justify-content: flex-start
    }
}
