.floating-card-show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
}

.floating-card-hidden {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-20px);
}

.floating-card-container {
    transition: all .5s;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 0.46875rem 2.1875rem rgba(8,10,37,.03), 0 0.9375rem 1.40625rem rgba(8,10,37,.03), 0 0.25rem 0.53125rem rgba(8,10,37,.05), 0 0.125rem 0.1875rem rgba(8,10,37,.03);
    border: 1px solid rgba(0,0,0,.15);
}

.floating-card-right {
    position: absolute;
    top: 50px;
    right: 0;
}
.floating-card-left {
    position: absolute;
    top: 50px;
    left: 0;
}

.floating-card-header {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    color: black;
    background-position: center;
}
.floating-card-overlay-content{
    z-index: 10;
    position: relative;
    line-height: 30px;
}

.floating-card-header img {
    object-fit: cover;
}

.floating-card-overlay-header {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #777bb999;
    padding: 15px 20px;
}

.floating-card-content {
    box-sizing: border-box;
    line-height: 30px;
}

.floating-card-footer {
    /* border-top: 1.9px solid #b7b7b7; */
    line-height: 30px;
}