.input-search-header-container {
    position: relative;
    height: 42px;
    display: flex;
    align-items: center;
    /* background-color: red; */
}

.close-input-search-header {
    position: absolute;
    left: 0;
    visibility: hidden;
    transition: all .5s;
    transform: rotate(350deg);
    cursor: pointer;
}

.close-input-search-header-show {
    visibility: visible;
    transform: translateX(290px) rotate(0deg);
}

.input-search-hidden-header {
    height: 42px;
    width: 0;
    background-color: #edeeef9e;
    border: none;
    border-radius: 20px;
    outline: none;
    padding: 2px 20px;
    box-sizing: border-box;
    transition: all .5s;
}

.input-search-show-header {   
    width: 280px;
}

.search-avatar-header {
    position: absolute;
    right: 0;
    transform: rotate(-270deg);
    transition: all .5s;
}

.search-rotate-avatar-header {
    transform: rotate(360deg);
}
